body {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 10px;
    background-color: rgba(28, 92, 145, 0.778);
    box-sizing: border-box;

}

div {
    font-size: 36px;
    font-weight: bolder;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    padding : 30px;
    border-radius: 30px;
    color: white;
    border: 4px solid rgb(248, 245, 245);
    font-style: oblique;
}

